<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @recipe.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @recipe.restaurant_id %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @recipe.image_url %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
