<h1><%= current_user.name %>小姐/先生:</h1>
<p>您的订单为：</p>
<!--> Grab from cookies <-->
<%= simple_form_for @order do |f| %>
	<% @order_specs.each do |spec| %>	
		<%= f.fields spec do |f_spec| %>
			<%= f_spec.input :recipe_id %>
			<%= f_spec.input :count %>
		<% end  %>
	<% end  %>
	<%= f.submit %>
<%end  %>

