<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="<%= image_url('food.jpg') %>" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>足不出户，美食到口！</h1>
              <p>您只需通过网络下单，留下您的联系方式，很快就能享用到我们的美食.</p>
              <p><%= link_to "马上注册", new_user_session_path, class:"btn btn-lg btn-primary" %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="<%= image_url('food2.jpg') %>" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>快捷方便，安全卫生！</h1>
              <p>还在为卫生担忧吗？还在为食品安全担忧吗？我们精选合作商家，让您远离地沟油，远离“臭脚米粉”，远离一切有毒食品。我们所作的一切，就是为了您的方便和卫生！</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">了解更多 &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="<%= image_url('food3.jpg') %>" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>种类丰富，菜系齐全！</h1>
              <p>我们精选您身边的粤菜、川菜、湘菜、西餐以及肯德基、麦当劳等外卖为您提供多种选择，同时提供各种小点、热饮以及冷饮等.</p>
              <p>
							<%= link_to "浏览菜单", recipes_path,  class:"btn btn-lg btn-primary" %>
							</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
			<% i = 0  %>
			<% @restaurants.each do |restaurant| %>
				<% if i%3 == 0 %>
					<div class="row">
            <div class="col-xs-4">
				<% else %>
					<div class="col-xs-4">
				<% end %>
        <%= image_tag restaurant.avatar.url(:medium), class:'img-circle' %>
        <h2><%= restaurant.name %></h2>
        <p ><%= restaurant.description %></p>
				<p><%= link_to "进入餐厅>>", recipes_path(restaurant_id:restaurant.id), class:"btn btn-default" %></p>
					
					<% if i%3 == 2 %>
						</div><!-- /.col-lg-4 -->
					 </div><!-- /.row -->
					<% else %>
						</div><!-- /.col-lg-4 -->
					<% end %>
					<% i += 1  %>
			 <% end %>
       <% if i%3 != 0  %>
			 	 </div><!-- /.row -->
			 <% end %>



	


